In [1]:
import yfinance as yf # possible alternative http://theautomatic.net/yahoo_fin-documentation/
import datetime as dt
import numpy as np
import tensorflow as tf
import time
import pandas as pd
from pandas_datareader import data as pdr

yf.pdr_override()

In [2]:
 df = pdr.get_data_yahoo("BTC-USD",period="7d",interval="1m")

[*********************100%***********************]  1 of 1 completed

In [3]:
df.shape

(9420, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9420 entries, 2020-11-02 05:17:00+00:00 to 2020-11-08 20:38:02+00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       9420 non-null   float64
 1   High       9420 non-null   float64
 2   Low        9420 non-null   float64
 3   Close      9420 non-null   float64
 4   Adj Close  9420 non-null   float64
 5   Volume     9420 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 515.2 KB

In [5]:
df.head(10)

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-02 05:17:00+00:00,13650.754883,13650.754883,13650.754883,13650.754883,13650.754883,0
2020-11-02 05:18:00+00:00,13650.717773,13650.717773,13650.717773,13650.717773,13650.717773,0
2020-11-02 05:19:00+00:00,13646.851562,13646.851562,13646.851562,13646.851562,13646.851562,17371136
2020-11-02 05:20:00+00:00,13646.788086,13646.788086,13646.788086,13646.788086,13646.788086,0
2020-11-02 05:21:00+00:00,13646.684570,13646.684570,13646.684570,13646.684570,13646.684570,0
2020-11-02 05:22:00+00:00,13652.858398,13652.858398,13652.858398,13652.858398,13652.858398,0
2020-11-02 05:23:00+00:00,13652.764648,13652.764648,13652.764648,13652.764648,13652.764648,10344448
2020-11-02 05:24:00+00:00,13652.897461,13652.897461,13652.897461,13652.897461,13652.897461,116736
2020-11-02 05:25:00+00:00,13664.561523,13664.561523,13664.561523,13664.561523,13664.561523,16705536
2020-11-02 05:26:00+00:00,13664.333008,13664.333008,13664.333008,13664.333008,13664.333008,0

In [6]:
df[["Open"]]

                                   Open
Datetime
2020-11-02 05:17:00+00:00  13650.754883
2020-11-02 05:18:00+00:00  13650.717773
2020-11-02 05:19:00+00:00  13646.851562
2020-11-02 05:20:00+00:00  13646.788086
2020-11-02 05:21:00+00:00  13646.684570
...                                 ...
2020-11-08 20:34:00+00:00  15362.178711
2020-11-08 20:35:00+00:00  15362.183594
2020-11-08 20:36:00+00:00  15362.200195
2020-11-08 20:37:00+00:00  15357.893555
2020-11-08 20:38:02+00:00  15356.702148

[9420 rows x 1 columns]

In [7]:
ratios = ["BTC-USD","LTC-USD","ETH-USD","BCH-USD"]

def getData(ratios,period,interval):

    df_to_return = pd.DataFrame()

    for ratio in ratios:

        df = pdr.get_data_yahoo(ratio,period=period,interval= interval)
        df.rename(columns={"Close": f"{ratio}_close"}, inplace=True)

        df = df[[f"{ratio}_close"]]
        
        if len(df_to_return) == 0:

            df_to_return = df
        else:
            df_to_return = df_to_return.join(df)
    
    
    return df_to_return        
    
    
mydf = getData(ratios,"7d","1m")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
mydf.head(10)

,BTC-USD_close,LTC-USD_close,ETH-USD_close,BCH-USD_close
Datetime,,,,
2020-11-02 05:17:00+00:00,13650.754883,NaN,398.223083,NaN
2020-11-02 05:18:00+00:00,13650.717773,55.519840,398.220978,264.831635
2020-11-02 05:19:00+00:00,13646.851562,55.509182,398.007019,264.878204
2020-11-02 05:20:00+00:00,13646.788086,55.508793,398.006134,264.877228
2020-11-02 05:21:00+00:00,13646.684570,55.507469,398.002258,264.872223
2020-11-02 05:22:00+00:00,13652.858398,55.541279,398.171143,264.952911
2020-11-02 05:23:00+00:00,13652.764648,55.540825,398.168304,NaN
2020-11-02 05:24:00+00:00,13652.897461,55.542252,398.171631,264.954956
2020-11-02 05:25:00+00:00,13664.561523,55.575504,398.656891,NaN
2020-11-02 05:26:00+00:00,13664.333008,55.573521,398.649323,265.146118

In [9]:
time = dt.datetime.now().strftime("%Y_%m_%d_%H_%M_%S")
print(time)
mydf.to_csv(f'C:\\Users\\ondra\\Desktop\\Python\\GraphPrediction\\crypto_data\\{time}.csv')

2020_11_08_21_40_24